<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/sidebar.css' />
  <script src="/js/libs/jquery.js"></script>
  <script src="/js/libs/swal.js"></script>
</head>
<body>
<%- include('sidebar/sidebar', {user: user}); %>
<main>
  <h1>Mon tableau de bord</h1>
  <p class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur animi voluptatibus cum maxime distinctio
    iste quod deleniti eius, autem voluptates cumque suscipit iure quasi eligendi ullam. Sapiente eligendi porro
    reprehenderit corrupti error facilis quo, fugiat fugit? Maiores aliquam ad, molestiae iste nihil, commodi
    doloremque tempore excepturi aut id ducimus unde?
  </p>
  <p class="copyright">
    &copy; 2023 - <span>SR10 - D.R</span> License <a href="https://github.com/DISIC/design.numerique.gouv.fr/blob/master/LICENSE.md#licence-ouverte-20open-licence-20" target="_blank">OPEN LICENCE 2.0</a>.
  </p>
</main>
</body>
</html>
