<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
    <link rel='stylesheet' href='/stylesheets/tabs.css' />

    <script src="/js/libs/jquery.js"></script>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js" defer></script>

    <script src="/js/libs/swal.js"></script>
    <script src="/js/public/offres.js"></script>
</head>
<body>
<%- include('../sidebar/sidebar', {user: user}); %>

<main>
    <h1>LISTE DES OFFRES DISPONIBLES</h1>
    <input  hidden disabled id="user_group" value="<%=user.group_uid%>">
    <hr class="hr" />
    <div class="row" style="display: flex; justify-content: center; align-items: center; margin: 20px">
        <div class="col-6">
            <button onclick="filter_table('PUBLIÉE', '', '', '', false)" style="width: 100%" class="btn btn-success">OFFRES PUBLIÉE</button>
        </div>
        <div class="col-6">
            <button onclick="filter_table('', '', '', '', true)" style="width: 100%" class="btn btn-danger">OFFRES EXPIRÉE</button>
        </div>
    </div>
    <div class="row" style="display: flex; justify-content: center; align-items: center; margin: 20px">
        <button onclick="filter_table('')" style="width: 100%" class="btn btn-secondary">TOUTES LES OFFRES VALIDES</button>
    </div>
    <hr class="hr" />
    <span>
        <h1 style="text-align: center">FILTRES</h1>
        <div class="row" style="display: flex; justify-content: center; align-items: center; margin: 20px">
            <div class="col-6">
                <button onclick="salaire_filter()" style="width: 100%" class="btn btn-primary">FILTRER PAR SALAIRE</button>
            </div>
            <div class="col-6">
                <button onclick="distance_filter()" style="width: 100%" class="btn btn-primary">FILTRER PAR DISTANCE</button>
            </div>
        </div>
    </span>
    <hr class="hr" />
    <div class="container">
        <div class="row">
            <table id="offers_table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>offre_uid</th>
                    <th>expiree</th>
                    <th>Intitulé & Status</th>
                    <th>Salaire annuelle</th>
                    <th>Responsable</th>
                    <th>Rythme</th>
                    <th>Date d'expiration</th>
                    <th>Type du métier</th>
                    <th>Position de l'offre</th>
                    <th>Etat offre</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
        </div>
        <p class="copyright">
            &copy; 2023 - <span>SR10 - D.R</span> License <a href="https://github.com/DISIC/design.numerique.gouv.fr/blob/master/LICENSE.md#licence-ouverte-20open-licence-20" target="_blank">OPEN LICENCE 2.0</a>.
        </p>
    </div>
</main>
</body>
</html>
