<!DOCTYPE html>
<html>
    <head>
        <title>UT'OPIA - WORK | ERREUR 500</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel='stylesheet' href='/stylesheets/errors/error.css' />
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    </head>
    <body>
        <div class="row lottie-player">
            <lottie-player
                    src="/lottie/500.json"
                    background="transparent"
                    speed="1"
                    loop autoplay>
            </lottie-player>
            <span class="error-header p-b-45">
              500
            </span>
            <span class="error-subheader p-b-5">
              Oops, Quelque chose a mal tourné
            </span>
            <span class="error-subheader2 p-b-5">
              Contactez un administrateur.
            </span>
            <div class="centerd-row" style="margin-top: 5vh;">
                <a href="http://localhost:3000/">
                    <button type="button" class="btn btn-primary">Retour vers la page principal.</button>
                </a>

                <!--<button color="primary" class="auth-form-btn btn-primary">
                    Retour vers la page principal.
                </button>-->
            </div>
        </div>
    </body>
</html>
